<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<header>
		<div id="logo">
			<img src="assets/unity-logo.png">
		</div>
		<div id="quick-links">
			<ul>
				<li>Home</li>
				<li>Features</li>
				<li>Services</li>
				<li>Contact Us</li>
				<li>About Us</li>
				<li>Log In</li>
			</ul>
		</div>
	</header>

	<section class="banner-section">

	</section>

	<section class="section-padding text-center awesome">
		<h1>Why This is Awesome</h1>
		<hr style="height:2px;background-color:orange;border-style:none;width:100px;margin-top:20px">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<div id="box-align">
			<div class="box box-one">
				<div class="circle">
					<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
				</div>
				<h4>Thought Full Design</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="box box-two">
				<div class="circle">
					<i class="fa fa-keyboard-o" aria-hidden="true"></i>
				</div>
				<h4>Thought Full Design</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="box box-three">
				<div class="circle">
					<i class="fa fa-bolt" aria-hidden="true"></i>
				</div>
				<h4>Thought Full Design</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
		</div>
	</section>

	<section class="section-padding text-center axure-design">
		<h1 style="color:#fff">STYLISH AXURE DESIGN</h1>
		<hr style="height:2px;background-color:#fff;border-style:none;width:100px;margin-top:20px">	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<div style="width:300px;margin:auto;margin-top:40px" class="btn">
				<button>DOWNLOAD</button>
			</div>
	</section>
</body>
</html>