form li{
	list-style-type: none;
	margin-bottom: 0px;
}
form ul li label{
	float: left;
	clear:left;
	width:100px;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;
}

form ul li input,select,span{
	float: left;
	margin-bottom: 10px;
}

form textarea{
	float: left;
	width: 350px;
	height: 200px;
}
[type="submit"]{
	clear:left;
	margin: 20px 0px 0px 230px;
}